{% include 'partials/header.html' %}
<center>
		<title>Create post</title>
	
	
		<div class="container">
			<form action="{% url 'create_blog' %}" method="post">
			{% csrf_token %}	
				<b>Create Blog</b><br /> <br />

				<label for="title">Post title</label> <br/>
  				<input placeholder="Title" type="text" name="title" id="title" /><br /><br />

				<label for="body">Body</label> <br/>
				<textarea placeholder="Body" rows="20" cols="90" id="body" name="body">
				</textarea>
				<br/><br />
				
				<label for="author">Author</label> <br/>
  				<input placeholder="Author" type="text" name="author" id="author" /><br /> <br />

  				<input type="submit" value="Submit post" />
			</form>
		</div>
	<center/>
{% include 'partials/footer.html' %}
